.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: $svgColor;
}

.icon-facebook {
	font-size:(49.65/10)*1rem;
	width:(49.65/49.65)*1em;
}
.icon-instagram {
	font-size:(49.65/10)*1rem;
	width:(49.65/49.65)*1em;
}
.icon-search {
	font-size:(56.97/10)*1rem;
	width:(56.97/56.97)*1em;
}
