$color-white: #ffffff;
$color-black: #000000;
$color-black-2: #232323;
$color-orange: #f9be00;
$color-blue: #0600ff;
$color-red: #ff0000;
// $color-beige: #E9E9DE;
// $color-gray: #707070;
// $color-green: #439C00;
// $color-purple: #9C0078;
// $color-pink: #ECDEFF;


$svgColor:$color-white;

$transition: all 0.3s linear;

$box-shadow: 0px 11px 36px 8px rgba($color-black, 0.5);

$font-family:'Museo Sans Cyrl';

$font-thin: 200;
$font-light: 300;
$font-normal: normal;
$font-bold: bold;
